{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="lg:flex lg:items-center lg:justify-center lg:h-screen">
    <main class="flex items-start justify-center bg-white h-dvh font-iran mt-8.25 lg:mt-auto lg:rounded-xl lg:shadow-[0_0_20px_#e0edfd] lg:h-fit lg:m-auto  lg:w-[90%]" >
        {% block form_authentication %}{% endblock form_authentication %}
      <div class="hidden lg:flex flex-col justify-center w-[50%] border-r border-light-blue">
        <img src="/static/images/doctor-blob.png" class="w-full" alt="doctor-blob" />
        <div class="flex flex-col justify-center items-center gap-2.5">
            <span class="text-sm text-slate-gray font-bold">مورد اعتماد هزاران بیمار در سراسر کشور</span>
          <div class="flex items-center justify-center gap-2 px-2 py-4">
            <a href="" class="w-[70%]"><img src="/static/images/enamad.png" alt="enmad-logo" /></a>
            <a href="" class="w-[70%]"><img src="/static/images/etehadie-logo.webp" alt="etehadie-logo" /></a>
          </div>
        </div>
      </div>
    </main>
    <script src="/static/js/custom.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons()
    </script>
  </body>
</html>
