{% extends 'shared/base.html' %}

{% block title %}
  سوالات متداول
{% endblock %}

{% block content %}
  <main class="mt-16">
    <div id="faq-questions" class="content-doctor flex flex-col justify-center items-center gap-3.5 rounded-lg px-3 py-3 shadow-[0_0_20px_#e0edfd]">
      <span class="text-2xl text-center w-full text-custom-black font-bold flex items-center justify-center gap-2">
        <i data-lucide="message-circle" class="w-11.25 h-10 p-2 bg-light-blue rounded-full text-primary-special"></i>
        سوالات متداول
      </span>
      <div class="w-full flex flex-col justify-center items-center gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="faq-dropdown cursor-pointer text-lg text-custom-black font-bold flex items-center gap-2">سوالات متداول برای شهروندان</span>
      </div>

      {% for faq_user in faq_users %}
          <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
            <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
              <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
              {{ faq_user.question }}
            </span>
            <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">{{ faq_user.answer }}</p>
          </div>
      {% endfor %}


      <div class="w-full flex flex-col justify-center items-center gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="faq-dropdown cursor-pointer text-lg text-custom-black font-bold flex items-center gap-2">سوالات متداول برای پزشکان</span>
      </div>

      {% for faq_doctor in faq_doctors %}
          <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
            <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
              <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
              {{ faq_doctor.question }}
            </span>
            <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">{{ faq_doctor.answer }}</p>
          </div>
      {% endfor %}


    </div>
  </main>
{% endblock %}
