{% extends 'shared/base.html' %}

{% block title %}
  سوالات متداول
{% endblock %}

{% block content %}
  <main class="mt-14">
    <div id="faq-questions" class="content-doctor flex flex-col justify-center items-center gap-3.5 rounded-lg px-3 py-3 shadow-[0_0_20px_#e0edfd]">
      <span class="text-2xl text-center w-full text-custom-black font-bold flex items-center justify-center gap-2">
        <i data-lucide="message-circle" class="w-11.25 h-10 p-2 bg-light-blue rounded-full text-primary-special"></i>
        سوالات متداول
      </span>
      <div class="w-full flex flex-col justify-center items-center gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="faq-dropdown cursor-pointer text-lg text-custom-black font-bold flex items-center gap-2">سوالات متداول برای شهروندان</span>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          چه زمانی باید برای مشکلات قلبی به متخصص قلب مراجعه کنم؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">اگر علائمی مثل درد یا فشار قفسه سینه، تپش قلب مکرر، تنگی نفس، سرگیجه یا سابقه بیماری قلبی دارید، بهتر است برای ارزیابی دقیق به متخصص قلب مراجعه کنید.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          چه زمانی باید برای مشکلات قلبی به متخصص قلب مراجعه کنم؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">اگر علائمی مثل درد یا فشار قفسه سینه، تپش قلب مکرر، تنگی نفس، سرگیجه یا سابقه بیماری قلبی دارید، بهتر است برای ارزیابی دقیق به متخصص قلب مراجعه کنید.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          چه زمانی باید برای مشکلات قلبی به متخصص قلب مراجعه کنم؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">اگر علائمی مثل درد یا فشار قفسه سینه، تپش قلب مکرر، تنگی نفس، سرگیجه یا سابقه بیماری قلبی دارید، بهتر است برای ارزیابی دقیق به متخصص قلب مراجعه کنید.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          چرا مدیکر ؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">دکترتو به شما در جستجو و نوبت گیری آسان پزشک مورد نظرتان کمک می کند. دکترتو امکان مشاوره با پزشکان معتبر و متعهد را برای شما فراهم می نماید. دکترتو تازه های سلامت را به اطلاع شما می رساند. دکترتو باعث صرفه جویی در وقت و هزینه شما می شود و کیفیت بخشی از زندگیتان را افزایش می دهد. دکترتو باعث صرفه جویی در انرژی شده و به حفظ محیط زیست کمک می کند.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-center gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="faq-dropdown cursor-pointer text-lg text-custom-black font-bold flex items-center gap-2">سوالات متداول برای پزشکان</span>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          چگونه می‌توانم عضوی از مدیکر باشم؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">پزشک محترم شما می‌توانید جهت عضویت در وبسایت دکترتو، با شماره‌ی ۹۱۰۰۶۰۳۰-۰۲۱ -- ۹۱۰۰۶۰۳۰-۰۷۱ تماس گرفته و با شماره‌گیری داخلی ۲ درخواست خود را با همکاران ما درمیان بگذارید تا هماهنگی‌های لازم انجام شوند.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          نوبت‌های روزانه‌ی من چگونه تنظیم می‌شوند؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">این امکان وجود دارد که شما بر اساس روند مطب خود و برنامه زمانبندی سالانه خویش با هماهنگی تیم پشتیبانی نوبت هایتان را باز کرده، ویرایش و یا لغو کنید.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          اگر در حین کار مشکل فنی برای من ایجاد شود چگونه حل خواهد شد؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">بخش پشتیبانی سایت دکترِتو از ساعت ۹:۰۰ الی ۲۲:۰۰ پاسخگوی مشکلات فنی شما کاربران محترم می‌باشد. شما می‌توانید با شماره‌ی 021-91006030 یا 071-91006030 تماس بگیرید.ب</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start gap-3 border border-light-gray md:w-[60%] rounded-lg pb-0 px-3 py-3 shadow-[0_0_20px_#e0edfd]">
        <span class="faq-dropdown cursor-pointer text-sm text-custom-black font-bold flex items-center gap-2">
          <i data-lucide="plus" class="plus-icon w-[14%] h-[18%] sm:w-8.75 sm:h-8.75 p-1.5 bg-light-blue rounded-full text-primary-special"></i>
          مزایای مدیکر برای پزشکان چیست؟
        </span>
        <p class="answer-faq text-sm text-slate-gray font-bold leading-6 h-0 invisible opacity-0 duration-200 ease-in">دکترتو شما را نمایان می سازد و تخصص ها و فعالیت های شما را به آنها معرفی می کند. امکان مدیریت نوبت ها را به شما میدهد. داده های آماری را برای شما مهیا کرده به شما در تجزیه و تحلیل آنها کمک می کند. رفت و آمدها و تماسهای اضافی به مطب شما را کاهش می دهد.</p>
      </div>
    </div>
  </main>
{% endblock %}
