{% extends 'shared/base.html' %}

{% block title %}
  قوانین و مقررات
{% endblock %}

{% block content %}
  <main class="mt-14">
    <div id="terms-conditions" class="content-doctor flex flex-col justify-center items-center gap-3.5 rounded-lg px-3 py-3 shadow-[0_0_20px_#e0edfd]">
      <span class="text-[16px] md:text-2xl text-center w-full text-custom-black font-bold flex items-center justify-center gap-2">
        <i data-lucide="ShieldCheck" class="w-11.25 h-10 p-2 bg-light-blue rounded-full text-primary-special"></i>
        شرایط و مقررات استفاده از خدمات مدیکر
      </span>
      <div class="w-full flex flex-col justify-center items-center gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <p class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify px-4.5">از حضور شما در دکترتو ممنونیم. امیدواریم حالتان همیشه خوب باشد. در صورت نیاز به دریافت نوبت از پزشک، مشاوره تلفنی و متنی با متخصصان، استفاده ازخدمات کلینیکی و پارکلینیکی و هم‌چنین دکترتو بیمه، لازم است که قوانین و شرایط دکترتو را بخوانید و در هنگام ثبت‌نام تایید کنید. شرکت فن‌آوری اطلاعات نوین آسان تِک مانا (سهامی خاص) با شناسه ملی ۱۴۰۰۶۴۲۴۲۷۰ در این سند به بیان شرایط و مقررات استفاده از خدمات دکترِتو می‌پردازد. سکو (پلتفرم) دکترِتو شامل دریافت نوبت از پزشک، مشاوره تلفنی و متنی با متخصصان و استفاده از خدمات کلینیکی و پاراکلینیکی است. ثبت‌نام کاربران در دکترِتو به معنای قبول کلیه مفاد این سند است و از لحظه ثبت‌نام، این سند به منزله قراردادی الزام‌آور میان کاربر و شرکت خواهد بود. بنابراین ضروری است شهروند پیش از ثبت‌نام و استفاده از خدمات دکترِتو، این شرایط و ضوابط را با دقت مطالعه فرمایید.</p>
      </div>
      <div class="w-full flex flex-col justify-center items-start  gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="text-lg text-primary-special font-bold px-4.5">ماده یک) تعاریف</span>
        <p class="cursor-pointer text-sm text-slate-gray leading-7 font-bold px-4.5 text-justify">واژگان و اصطلاحاتی که در شرایط و قوانین حاضر مورد استفاده قرار گرفته‌اند، دارای معانی به شرح ذیل است:</p>
        <ul class="list-disc px-8.5 py-4">
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">شرکت: منظور شرکت فن‌آوری اطلاعات نوین آسان تِک مانا (سهامی خاص) با شناسه ملی ۱۴۰۰۶۴۲۴۲۷۰ است که از طریق سایت/برنامه (اپلیکیشن) دکترِتو نسبت به ارائه خدمات به کاربران اقدام می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">دکترِتو: نام و علامت تجاری متعلق به شرکت است.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">سایت: منظور سایت به آدرس doctoreto.com است که مالکیت آن تماماً متعلق به شرکت است.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">کاربر/کاربران: منظور کلیه اشخاصی هستند که از سایت دکترِتو بازدید نموده و یا از خدمات پلتفرم دکترِتو استفاده می‌نمایند؛ شامل پزشکان، روانشناسان، ماماها، پیراپزشکان، مراکز درمانی، داروسازان، شهروندان و کادر درمان.</li>
        </ul>
      </div>
      <div class="w-full flex flex-col justify-center items-start  gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="text-lg text-primary-special font-bold px-4.5 text-justify">ماده دو) شرایط عمومی ایجاد حساب کاربری</span>
        <ul class="list-disc px-8.5 py-4">
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">شرکت با پایبندی کامل به قوانین و مقررات جمهوری اسلامی ایران فعالیت می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">هرگونه علامت، عدد، کلمه، تصویر یا نشان الکترونیک که مُثبِت هویت امضا‌کننده باشد و به این سند یا سایر اسناد صادره در این زمینه ملحق شود، به منزله امضای الکترونیک و همانند امضای دست‌نویس دارای آثار حقوقی و واجد اعتبار است و امضاکننده را متعهد و ملتزم به مفاد سندی که به طرق مزبور امضا نموده است، می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">برای استفاده از خدمات دکترِتو، سن کاربر باید بالای ۱۸ سال تمام شمسی باشد، فرایند ایجاد حساب کاربری را تکمیل نماید، مفاد این سند را قبول نماید و اطلاعات تماس صحیح و به‌روز خود را ارائه دهد.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">کاربر با ساخت حساب کاربری دکترِتو موافقت می‌کند که ایمیل‌ها و پیامک‌های اطلاع‌رسانی و خبرنامه‌ دکترِتو برای‌ او ارسال شود. اگر تمایلی به دریافت این موارد ندارد، می‌تواند از طریق ارسال ایمیل به support@doctoreto.com درخواست لغو نماید. اما در این موقعیت، دکترِتو مسئولیتی در قبال بی‌اطلاعی کاربر از پیام‌هایی که از این مسیرهای ارتباطی منتشر می‌شوند، نخواهد داشت.</li>
        </ul>
      </div>
      <div class="w-full flex flex-col justify-center items-start  gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="text-lg text-primary-special font-bold px-4.5 text-justify">ماده دو) شرایط عمومی ایجاد حساب کاربری</span>
        <ul class="list-disc px-8.5 py-4">
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">شرکت با پایبندی کامل به قوانین و مقررات جمهوری اسلامی ایران فعالیت می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">هرگونه علامت، عدد، کلمه، تصویر یا نشان الکترونیک که مُثبِت هویت امضا‌کننده باشد و به این سند یا سایر اسناد صادره در این زمینه ملحق شود، به منزله امضای الکترونیک و همانند امضای دست‌نویس دارای آثار حقوقی و واجد اعتبار است و امضاکننده را متعهد و ملتزم به مفاد سندی که به طرق مزبور امضا نموده است، می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">برای استفاده از خدمات دکترِتو، سن کاربر باید بالای ۱۸ سال تمام شمسی باشد، فرایند ایجاد حساب کاربری را تکمیل نماید، مفاد این سند را قبول نماید و اطلاعات تماس صحیح و به‌روز خود را ارائه دهد.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">کاربر با ساخت حساب کاربری دکترِتو موافقت می‌کند که ایمیل‌ها و پیامک‌های اطلاع‌رسانی و خبرنامه‌ دکترِتو برای‌ او ارسال شود. اگر تمایلی به دریافت این موارد ندارد، می‌تواند از طریق ارسال ایمیل به support@doctoreto.com درخواست لغو نماید. اما در این موقعیت، دکترِتو مسئولیتی در قبال بی‌اطلاعی کاربر از پیام‌هایی که از این مسیرهای ارتباطی منتشر می‌شوند، نخواهد داشت.</li>
        </ul>
      </div>
      <div class="w-full flex flex-col justify-center items-start  gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
        <span class="text-lg text-primary-special font-bold px-4.5 text-justify">ماده دو) شرایط عمومی ایجاد حساب کاربری</span>
        <ul class="list-disc px-8.5 py-4">
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">شرکت با پایبندی کامل به قوانین و مقررات جمهوری اسلامی ایران فعالیت می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">هرگونه علامت، عدد، کلمه، تصویر یا نشان الکترونیک که مُثبِت هویت امضا‌کننده باشد و به این سند یا سایر اسناد صادره در این زمینه ملحق شود، به منزله امضای الکترونیک و همانند امضای دست‌نویس دارای آثار حقوقی و واجد اعتبار است و امضاکننده را متعهد و ملتزم به مفاد سندی که به طرق مزبور امضا نموده است، می‌نماید.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">برای استفاده از خدمات دکترِتو، سن کاربر باید بالای ۱۸ سال تمام شمسی باشد، فرایند ایجاد حساب کاربری را تکمیل نماید، مفاد این سند را قبول نماید و اطلاعات تماس صحیح و به‌روز خود را ارائه دهد.</li>
          <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">کاربر با ساخت حساب کاربری دکترِتو موافقت می‌کند که ایمیل‌ها و پیامک‌های اطلاع‌رسانی و خبرنامه‌ دکترِتو برای‌ او ارسال شود. اگر تمایلی به دریافت این موارد ندارد، می‌تواند از طریق ارسال ایمیل به support@doctoreto.com درخواست لغو نماید. اما در این موقعیت، دکترِتو مسئولیتی در قبال بی‌اطلاعی کاربر از پیام‌هایی که از این مسیرهای ارتباطی منتشر می‌شوند، نخواهد داشت.</li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}
