{% extends 'shared/base.html' %}

{% block title %}
  قوانین و مقررات
{% endblock %}

{% block content %}
  <main class="mt-16">
    <div id="terms-conditions" class="content-doctor flex flex-col justify-center items-center gap-3.5 rounded-lg px-3 py-3 shadow-[0_0_20px_#e0edfd]">
      <span class="text-[16px] md:text-2xl text-center w-full text-custom-black font-bold flex items-center justify-center gap-2">
        <i data-lucide="ShieldCheck" class="w-11.25 h-10 p-2 bg-light-blue rounded-full text-primary-special"></i>
        شرایط و مقررات استفاده از خدمات مدیکر
      </span>
        {% for term in terms %}
            <div class="w-full flex flex-col justify-center items-start  gap-3 border border-light-gray md:w-[60%] rounded-lg px-3 py-5 shadow-[0_0_20px_#e0edfd] mt-4">
                <span class="text-lg text-primary-special font-bold px-4.5">{{ term.title }}</span>
                <ul class="list-disc px-8.5 py-4">
                  <li class="cursor-pointer text-sm text-slate-gray leading-7 font-bold text-justify">{{ term.content }}</li>

                </ul>
              </div>
        {% endfor %}


    </div>
  </main>
{% endblock %}